*{
    padding: 0;
    margin: 0;
}

p {
    text-align: center;
    font-size: 36px;
}


#game{
    width: 400px;
    height: 500px;
    border: 2px solid black;
    margin: auto;
    overflow: hidden;
    background-color:  #87ceeb;
}


#block{
    width: 50px;
    height: 500px;
    background-image:url("images/cloud.png") ;
    
    position: relative;
    left: 400px;
    animation: block 2.5s infinite linear;
}
@keyframes block{
    0%{left:400px}
    100%{left:-50px}
}
#hole{
    width: 50px;
    height: 150px;
    background-color:#87ceeb;
    position: relative;
    left: 400px;
    top: -500px;
    animation: block 2.5s infinite linear;
}
#character {
    width: 50px;
    position: absolute;
    top: 100px;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom; 
}


